<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Muppet Ranking System</h1>
      </div>
      <div class="col-md-12">
        <ng-container *ngIf="ready; else loading">
          <button class="btn btn-success" (click)="add()" *ngIf="isAdmin">
            <i class="fa fa-plus"></i>
            Add a Muppet
          </button>
          <ng-container *ngIf="muppets.length > 0">
            <p>Showing {{muppets.length}} muppet(s)...</p>
            <table class="table-striped">
              <thead>
              <tr>
                <th>Name</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let muppet of muppets">
                <td>{{muppet.name}}</td>
              </tr>
              </tbody>
            </table>
          </ng-container>
          <p *ngIf="muppets.length === 0">
            No Muppets to show.
          </p>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
