<div class="bg-white">
  <div class="container">
    <div class="row py-3">
      <div class="col-md-12">
        <h1>
          Phasmaphobia Helper
          <button class="btn btn-primary pull-right" (click)="reset()">
            <i class="fa fa-repeat"></i>
            RESET
          </button>
        </h1>
        <hr>
      </div>
      <div class="col-md-6 mb-3">
        <h2>Evidence</h2>
        <ul class="list-group">
          <ng-container *ngFor="let evidence of allPrimaryEvidence">
            <li class="list-group-item">
              {{evidence.name}}
              <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-secondary" (click)="markUnknown(evidence)"
                        [disabled]="!isEvidenceViable(evidence)"
                        [class.active]="evidence.status === 0 && isEvidenceViable(evidence)"><i
                  class="fa fa-question"></i></button>
                <button type="button" class="btn btn-secondary" (click)="markFound(evidence)"
                        [disabled]="!isEvidenceViable(evidence)" [class.active]="evidence.status === 1"><i
                  class="fa fa-check"></i></button>
                <button type="button" class="btn btn-secondary" (click)="markEliminated(evidence)"
                        [class.active]="evidence.status === 2 || !isEvidenceViable(evidence)"><i
                  class="fa fa-times"></i></button>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Ghost Types <small>{{viableGhostTypes.length}} possible</small></h2>
        <div class="row">
          <ng-container *ngFor="let ghostType of viableGhostTypes">
            <div class="col-md-6 mb-3">
              <app-card>
                <h3>{{ghostType.name}}</h3>
                <ul class="list-group">
                  <li class="list-group-item" *ngFor="let evidence of ghostType.primaryEvidence">
                    <i class="fa fa-check" *ngIf="foundEvidence.includes(evidence)"></i>
                    {{evidence.name}}
                  </li>
                </ul>
              </app-card>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
