<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row justify-content-center">
      <div class="col-md-8 my-3">
        <app-card [title]="title">
          <hr>
          <form>
            <app-string-input [(value)]="muppet.name" [valueName]="'name'"></app-string-input>
            <app-number-input [(value)]="muppet.debutYear" [valueName]="'debut-year'"></app-number-input>
            <ng-container *ngIf="showErrors && !valid">
              <hr>
              <div
                class="error-report alert alert-danger"
              >
                <p>Please correct the following errors:</p>
                <ul>
                  <li *ngFor="let error of errors">
                    {{ error }}
                  </li>
                </ul>
              </div>
            </ng-container>
            <hr>
            <button class="btn btn-primary" (click)="submit()">
              Save
            </button>
          </form>
        </app-card>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
