<div class="container">
  <div class="row">
    <div class="col-md-12 my-3">
      <app-card [title]="'HELLO'">
        <ng-container *ngIf="sunriseSunsetTimes; else loading">
          <p>Sunrise: {{sunriseSunsetTimes.results.sunrise}}</p>
          <p>Sunset: {{sunriseSunsetTimes.results.sunset}}</p>
          <p>
            <em>
              Sunrise & Sunset times provided by:
              <a href="https://sunrise-sunset.org/api" target="_blank">https://sunrise-sunset.org/api</a>
            </em>
          </p>
        </ng-container>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 my-3">
      <app-card [title]="'ORDER IN THE COURT'">
        <hr>
        <div *ngIf="orderReady; else loading">
          <p>
            <strong>Latest Cases:</strong>
          </p>
          <ul>
            <li class="mb-3" *ngFor="let casePieces of latestCasePieces">
              <ng-container *ngFor="let piece of casePieces; let i = index">
                <span [class.font-italic]="i === 0">
                {{piece}}
                </span>
                <br>
              </ng-container>
            </li>
          </ul>
          <hr>
          <p>
            <strong>
              Stats:
            </strong>
          </p>
          <p>
            {{openCases.length}} open cases
          </p>
          <p>
            {{closedCases.length}} closed cases
          </p>
          <p>
            {{allEvidence.length}} evidence
          </p>
          <p>
            {{allWitnesses.length}} witnesses
          </p>
          <p>
            {{allIssues.length}} issues
          </p>
          <hr>
          <a href="https://order-in-the-court-app.herokuapp.com/" target="_blank">
            <i class="fa fa-link"></i>
            More...
          </a>
        </div>
      </app-card>
    </div>
    <div class="col-md-4 my-3">
      <app-card [title]="'THE QUEST BOT'">
        <hr>
        <div *ngIf="questBotReady; else loading">
          <p>
            <strong>Current Hero:</strong>
          </p>
          <p>
            {{currentHero.name}} ({{currentHero.hpText}})
          </p>
          <p>
            LVL {{currentHero.level}} ({{currentHero.expText}})
          </p>
          <p>
            {{currentHero.journal.length}} update(s)
          </p>
          <hr>
          <p>
            <strong>Stats:</strong>
          </p>
          <p>
            {{heroStats.heroesCreated}} heroes created
          </p>
          <p>
            {{heroStats.questsCompleted}} quests completed
          </p>
          <p>
            {{heroStats.chaptersCompleted}} chapters completed
          </p>
          <hr>
          <a href="https://adam-on-the-internet.github.io/the-quest-bot-ui/dashboard" target="_blank">
            <i class="fa fa-link"></i>
            More...
          </a>
        </div>
      </app-card>
    </div>
    <div class="col-md-4 my-3">
      <app-card [title]="'THE CLUE BOT'">
        <hr>
        <div *ngIf="clueBotReady; else loading">
          <p>
            <strong>
              Current Mystery:
            </strong>
          </p>
          <p>
            {{currentMystery.title}}
          </p>
          <p>
            {{currentMystery.announcements.length}} announcement(s)
          </p>
          <hr>
          <p>
            <strong>
              Stats:
            </strong>
          </p>
          <p>
            {{mysteryStats.solvedMysteryCount}} mysteries solved
          </p>
          <p>
            {{mysteryStats.sceneCount}} scenes
          </p>
          <p>
            {{mysteryStats.suspectCount}} suspects
          </p>
          <p>
            {{mysteryStats.weaponCount}} weapons
          </p>
          <hr>
          <a href="https://adam-on-the-internet.github.io/the-clue-bot" target="_blank">
            <i class="fa fa-link"></i>
            More...
          </a>
        </div>
      </app-card>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-twitter-list [author]="author" [listUrl]="listUrl"></app-twitter-list>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
