<app-body>
  <div class="row justify-content-center text-center">
    <div class="col-md-6 my-3">
      <app-card [title]="'Admin'">
        <p>
          <button class="btn btn-primary btn-block" (click)="goBookmarkOverview()">
            Manage Bookmarks
          </button>
        </p>
        <p>
          <a
            class="btn btn-primary btn-block"
            href="https://aoti-user-management-ui.herokuapp.com/dashboard"
            target="_blank"
          >
            User Management
          </a>
        </p>
      </app-card>
    </div>
  </div>
</app-body>
