<div class="bg-white">
  <div class="container">
    <div class="row text-center pb-3">
      <ng-container *ngIf="ready; else loading">
        <div class="col-md-12 my-2">
          <h1>
            {{muppet.name}}
            <span class="badge badge-warning" *ngIf="muppet.archived">ARCHIVED</span>
          </h1>
        </div>
        <div class="col-md-12" *ngIf="isAdmin">
          <div class="row justify-content-center mb-2">
            <div class="col-md-3 mt-2">
              <button class="btn btn-secondary btn-block" (click)="edit()">Edit</button>
            </div>
            <div class="col-md-3 mt-2">
              <button class="btn btn-secondary btn-block" (click)="requestDelete()">Delete</button>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <table class="table">
            <tbody>
            <tr>
              <td colspan="2">
                <strong>GENERAL</strong>
              </td>
            </tr>
            <tr>
              <td>Name</td>
              <td>
                {{muppet.name}}
              </td>
            </tr>
            <tr>
              <td>Creature</td>
              <td>{{muppet.creature}}</td>
            </tr>
            <tr>
              <td>Main Series</td>
              <td>{{muppet.mainSeries}}</td>
            </tr>
            <tr>
              <td>Debut Year</td>
              <td>{{muppet.debutYear}}</td>
            </tr>
            <tr>
              <td>Commonality</td>
              <td>{{muppet.commonality}}</td>
            </tr>
            <tr>
              <td>Speech Type</td>
              <td>{{muppet.speechType}}</td>
            </tr>
            <tr>
              <td>Alignment</td>
              <td>{{muppet.alignment}}</td>
            </tr>
            <tr>
              <td>Our Ranking</td>
              <td>{{muppet.muppetRank}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <strong>MUPPET STATS</strong>
              </td>
            </tr>
            <tr>
              <td>Star Quality</td>
              <td>{{muppet.starQuality}}</td>
            </tr>
            <tr>
              <td>Imagination</td>
              <td>{{muppet.imagination}}</td>
            </tr>
            <tr>
              <td>Showmanship</td>
              <td>{{muppet.showmanship}}</td>
            </tr>
            <tr>
              <td>Humor</td>
              <td>{{muppet.humor}}</td>
            </tr>
            <tr>
              <td>Absentmindedness</td>
              <td>{{muppet.absentmindedness}}</td>
            </tr>
            <tr>
              <td>Mischief</td>
              <td>{{muppet.mischief}}</td>
            </tr>
            <tr>
              <td>Floppiness</td>
              <td>{{muppet.floppiness}}</td>
            </tr>
            <tr>
              <td>Passion</td>
              <td>{{muppet.passion}}</td>
            </tr>
            <tr>
              <td>Friendliness</td>
              <td>{{muppet.friendliness}}</td>
            </tr>
            <tr>
              <td>Softness</td>
              <td>{{muppet.softness}}</td>
            </tr>
            <tr>
              <td>Total Power</td>
              <td>{{muppet.muppetPowerLevel}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <strong>OTHER STATS</strong>
              </td>
            </tr>
            <tr>
              <td>Strength</td>
              <td>{{muppet.strength}}</td>
            </tr>
            <tr>
              <td>Dexterity</td>
              <td>{{muppet.dexterity}}</td>
            </tr>
            <tr>
              <td>Wisdom</td>
              <td>{{muppet.wisdom}}</td>
            </tr>
            <tr>
              <td>Intelligence</td>
              <td>{{muppet.intelligence}}</td>
            </tr>
            <tr>
              <td>Charisma</td>
              <td>{{muppet.charisma}}</td>
            </tr>
            <tr>
              <td>Constitution</td>
              <td>{{muppet.constitution}}</td>
            </tr>
            <tr>
              <td colspan="2">
                <strong>MORE INFO</strong>
              </td>
            </tr>
            <tr>
              <td>Tags</td>
              <td>
                <app-string-list-display [list]="muppet.tags"></app-string-list-display>
              </td>
            </tr>
            <tr>
              <td>Quotes</td>
              <td>
                <app-string-list-display [list]="muppet.quotes"></app-string-list-display>
              </td>
            </tr>
            <tr>
              <td>Attitude</td>
              <td>
                <app-string-list-display [list]="muppet.attitudeAdjectives"></app-string-list-display>
              </td>
            </tr>
            <tr>
              <td>Appearance</td>
              <td>
                <app-string-list-display [list]="muppet.appearanceAdjectives"></app-string-list-display>
              </td>
            </tr>
            <tr>
              <td>Images</td>
              <td>
                <app-string-list-display [list]="muppet.imageLinks"></app-string-list-display>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="col-md-12">
    <app-loading></app-loading>
  </div>
</ng-template>
