<div class="bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 my-3">
        <h3>
          Superlative Scavenger
        </h3>
        <p>
          Get a group of friends together and see who can find the image that best
          represents the phrase below.
        </p>
        <hr>
      </div>
    </div>
    <div class="row" *ngIf="ready; else loading">
      <div class="col-md-12 my-3">
        <h1>
          {{phrase}}
        </h1>
      </div>
      <div class="col-md-12 my-3">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <button class="btn btn-block btn-primary" (click)="loadPhrase()">
              <i class="fa fa-refresh"></i>
              Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row">
    <div class="col-md-12">
      <app-loading></app-loading>
    </div>
  </div>
</ng-template>
