<ng-container *ngIf="tunnelGoon">

  <section class="my-2">
    <app-card
      [border]="border"
    >
      <section>
        <ng-container *ngIf="isLoggedIn || showingMultiple">
          <p>
            <button class="btn btn-outline-secondary mx-1" (click)="toDetails()" *ngIf="showingMultiple">
              <i class="fa fa-link"></i>
              Details
            </button>
            <ng-container *ngIf="isLoggedIn">
              <ng-container *ngIf="editModeActive">
                <button class="btn btn-outline-secondary mx-1" (click)="turnEditOff()">
                  <i class="fa fa-times"></i>
                  Cancel Edit
                </button>
                <button class="btn btn-outline-secondary mx-1" (click)="saveEdit()" [disabled]="hasErrors">
                  <i class="fa fa-save"></i>
                  Submit Edit
                </button>
              </ng-container>
              <ng-container *ngIf="!editModeActive">
                <button class="btn btn-outline-secondary mx-1" (click)="turnEditOn()" *ngIf="!showingMultiple">
                  <i class="fa fa-pencil"></i>
                  Begin Edit
                </button>
                <button class="btn btn-outline-secondary mx-1" (click)="toDelete()">
                  <i class="fa fa-trash"></i>
                  Delete
                </button>
              </ng-container>
            </ng-container>
          </p>
          <div class="alert alert-warning" *ngIf="hasErrors">
            <ul>
              <li *ngFor=" let err of errors">
                {{err}}
              </li>
            </ul>
          </div>
        </ng-container>
      </section>
      <section *ngIf="tunnelGoon.portraitURL">
        <img class="card-img-top" [src]="tunnelGoon.portraitURL"/>
      </section>
      <section class="mt-3">
        <ng-container *ngIf="editModeActive">
          <app-string-input [(value)]="tunnelGoon.characterName"
                            [valueName]="'character-name'"></app-string-input>
          <app-string-input [(value)]="tunnelGoon.playerName"
                            [valueName]="'player-name'"></app-string-input>
        </ng-container>
        <ng-container *ngIf="!editModeActive">
          <h4 class="card-title">
            {{ tunnelGoon.characterName }}
          </h4>
          <h6 class="card-subtitle mb-2 text-muted" *ngIf="tunnelGoon.playerName">
            {{ tunnelGoon.playerName }}
          </h6>
        </ng-container>
      </section>
      <section>
        <table class="table">
          <tbody>
          <tr>
            <td>Level</td>
            <td>{{tunnelGoon.level}}</td>
          </tr>
          <tr>
            <td>Health Points</td>
            <td>{{tunnelGoon.currentHealthPoints}}/{{tunnelGoon.maxHealthPoints}}</td>
          </tr>
          <tr>
            <td>Inventory Score</td>
            <td>{{tunnelGoon.currentInventoryScore}}/{{tunnelGoon.maxInventoryScore}}</td>
          </tr>
          <tr>
            <td>Brute</td>
            <td>{{tunnelGoon.brute}}</td>
          </tr>
          <tr>
            <td>Erudite</td>
            <td>{{tunnelGoon.erudite}}</td>
          </tr>
          <tr>
            <td>Skulker</td>
            <td>{{tunnelGoon.skulker}}</td>
          </tr>
          </tbody>
        </table>
      </section>
      <section *ngIf="showAll">
        <section class="my-2">
          <h4>Items</h4>
          <p *ngIf="tunnelGoon.items.length === 0">
            No items.
          </p>
          <ul class="list-group" *ngIf="tunnelGoon.items.length > 0">
            <li class="list-group-item" *ngFor="let item of tunnelGoon.items">
              {{item}}
            </li>
          </ul>
        </section>
        <section class="my-2">
          <h4>Traits</h4>
          <p *ngIf="tunnelGoon.traits.length === 0">
            No traits.
          </p>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let trait of tunnelGoon.traits">
              {{trait}}
            </li>
          </ul>
        </section>
        <section class="my-2">
          <h4>Notes</h4>
          <ng-container *ngIf="!editModeActive">
            <p *ngIf="tunnelGoon.notes.length === 0">
              No notes.
            </p>
            <ul class="list-group" *ngIf="tunnelGoon.notes.length > 0">
              <li class="list-group-item" *ngFor="let note of tunnelGoon.notes">
                {{note}}
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="editModeActive">
            <app-string-list-input [(value)]="tunnelGoon.notes" [valueName]="'notes'" [largeDisplay]="true"
                                   [showLabel]="false"></app-string-list-input>
          </ng-container>
        </section>
      </section>
      <section>
        <hr>
        <small>Created on {{tunnelGoon.createdDateDatePart}}</small>
      </section>
    </app-card>
  </section>
</ng-container>
