<div class="row">
  <div class="col-md-12 my-3">
    <app-card [autoHeight]="false" *ngIf="ready; else notReady">
      <button class="btn btn-secondary" (click)="goCreate()" *ngIf="canEdit">
        Create Bookmark
      </button>
      <ng-container *ngIf="!hasBookmark">
        <p>No bookmarks available.</p>
      </ng-container>
      <ng-container *ngIf="hasBookmark">
        <p>
          <small>Showing {{ bookmarks.length }} bookmark(s)</small>
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <ng-container *ngIf="!canEdit">
                <th>Type</th>
                <th>Go</th>
              </ng-container>
              <ng-container *ngIf="canEdit">
                <th>Details</th>
                <th>Edit</th>
                <th>Delete</th>
              </ng-container>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bookmark of bookmarks">
              <td>{{ bookmark.name }}</td>
              <ng-container *ngIf="!canEdit">
                <td>{{ bookmark.type }}</td>
                <td>
                  <a
                    [href]="bookmark.url"
                    target="_blank"
                    class="btn btn-primary"
                    >Go</a
                  >
                </td>
              </ng-container>
              <ng-container *ngIf="canEdit">
                <td>
                  <button
                    class="btn btn-secondary"
                    (click)="goDetails(bookmark)"
                  >
                    Details
                  </button>
                </td>
                <td>
                  <button class="btn btn-secondary" (click)="goEdit(bookmark)">
                    Edit
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-secondary"
                    (click)="requestDelete(bookmark)"
                  >
                    Delete
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </app-card>
  </div>
</div>

<ng-template #notReady>
  <p *ngIf="error">Error occured :(</p>
  <app-loading *ngIf="!error"></app-loading>
</ng-template>
