<ng-container *ngIf="ready; else notReady">
  <app-body>
    <div class="row">
      <div class="col-md-12 my-3">
        <h1>
          {{ bookmark.name }}
        </h1>
        <p>
          <strong>Link:</strong>
          {{ bookmark.url }}
        </p>
        <p>
          <a class="btn btn-primary" [href]="bookmark.url" target="_blank">
            Go
          </a>
        </p>
        <p>
          <strong>Type:</strong>
          {{ bookmark.type }}
        </p>
        <p>
          <strong>Order:</strong>
          {{ bookmark.order }}
        </p>
        <p>
          <small>{{ bookmark._id }}</small>
        </p>
      </div>
    </div>
  </app-body>
</ng-container>

<ng-template #notReady>
  <app-loading></app-loading>
</ng-template>
